#include <windows.h>
#include <commctrl.h>

#define IDD_ABOUT 105
#define IDC_WEBSITE 106
#define IDC_COFFEE 108
#define IDD_REFRESH_INTERVAL 107
#define IDC_SLIDER_REFRESH_INTERVAL 1002
#define IDC_STATIC_REFRESH_VALUE 1003
#define IDC_STATIC_REFRESH_LABEL 1004

// About Dialog
IDD_ABOUT DIALOGEX 0, 0, 180, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Resource Monitor"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Resource Monitor v2.3.0", -1, 10, 10, 160, 10
    LTEXT           "Monitor current CPU and Memory usage in tray", -1, 10, 25, 160, 10
    LTEXT           "Created By Ferenc Lutischan", -1, 10, 40, 160, 10
    LTEXT           "Visit our website", IDC_WEBSITE, 10, 55, 160, 10, SS_NOTIFY
    LTEXT           "Support us with a coffee", IDC_COFFEE, 10, 70, 160, 10, SS_NOTIFY
    DEFPUSHBUTTON   "OK", IDOK, 65, 85, 50, 14
END

// Refresh Interval Dialog
IDD_REFRESH_INTERVAL DIALOGEX 0, 0, 220, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "", IDC_STATIC_REFRESH_LABEL, 10, 10, 80, 10
    LTEXT           "1000 ms", IDC_STATIC_REFRESH_VALUE, 100, 10, 50, 10
    CONTROL         "", IDC_SLIDER_REFRESH_INTERVAL, TRACKBAR_CLASS, TBS_AUTOTICKS | TBS_HORZ, 10, 25, 200, 20
    DEFPUSHBUTTON   "OK", IDOK, 55, 55, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 115, 55, 50, 14
END

IDI_ICON1 ICON "resource-monitor.ico"