#include <windows.h>

#define IDD_ABOUT 105
#define IDC_WEBSITE 106

// About Dialog
IDD_ABOUT DIALOGEX 0, 0, 200, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Resource Monitor"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Resource Monitor v2.2.0", -1, 10, 10, 160, 10
    LTEXT           "Monitor current CPU and Memory usage in tray", -1, 10, 25, 160, 10
    LTEXT           "Created By Ferenc Lutischan", -1, 10, 40, 160, 10
    LTEXT           "Visit our website", IDC_WEBSITE, 10, 55, 160, 10, SS_NOTIFY
    DEFPUSHBUTTON   "OK", IDOK, 65, 75, 50, 14
END

IDI_ICON1 ICON "resource-monitor.ico"